---
import { Leaf } from "@lucide/astro";
---

<section class="flex items-center gap-2">
  <a
    title="home"
    class="inline-flex h-10 w-10 rounded-md bg-[#0a6802] text-white items-center justify-center"
    href="/"
  >
    <Leaf size={24} />
  </a>

  <h1 class="text-xl font-bold text-foreground">Grassfier</h1>
</section>
